.list{
	background: #00000080;
}

/* List */

.list-section-title-bar{
	border-bottom: #FFFFFF solid 1px;
}

.list-section-title{
	color: #FFFFFF;
}

.list-section-title-bar-btn{
	border-radius: 4px;
}

.list-section-title-bar-btn:hover{
	background: #00000020;
}

/* List Duplicated Item */
.list-item-common{
	color: #FFFFFF;
}

.list-item-top-label{
	color: #FFFFFF;
}

.list-item-label, .list-item-descriptions{
	background: transparent;
	color: #FFFFFF;
	outline: none;
	border: none;
}

.list-item-label:focus, .list-item-descriptions:focus{
	background: #00000040;
}